<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yam.mapper.BookclassificationMapper">
  <resultMap id="BaseResultMap" type="cn.yam.domain.Bookclassification">
    <!--@mbg.generated-->
    <!--@Table bookclassification-->
    <id column="classification_id" jdbcType="INTEGER" property="classificationId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="class_description" jdbcType="VARCHAR" property="classDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    classification_id, class_name, class_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bookclassification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bookclassification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="classification_id" keyProperty="classificationId" parameterType="cn.yam.domain.Bookclassification" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bookclassification (class_name, class_description)
    values (#{className,jdbcType=VARCHAR}, #{classDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="classification_id" keyProperty="classificationId" parameterType="cn.yam.domain.Bookclassification" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bookclassification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        class_name,
      </if>
      <if test="classDescription != null">
        class_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classDescription != null">
        #{classDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yam.domain.Bookclassification">
    <!--@mbg.generated-->
    update bookclassification
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classDescription != null">
        class_description = #{classDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yam.domain.Bookclassification">
    <!--@mbg.generated-->
    update bookclassification
    set class_name = #{className,jdbcType=VARCHAR},
      class_description = #{classDescription,jdbcType=VARCHAR}
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <select id="selectByClassificationId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bookclassification
<!--    限制，上层传递的classificationId 和数据库对应的id 一致才返回-->
        where classification_id=#{classificationId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <delete id="deleteByClassificationId">
    delete from bookclassification
    where classification_id=#{classificationId,jdbcType=INTEGER}
  </delete>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from bookclassification
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <update id="updateByClassificationId">
    update bookclassification
    <set>
      <if test="updated.classificationId != null">
        classification_id = #{updated.classificationId,jdbcType=INTEGER},
      </if>
      <if test="updated.className != null">
        class_name = #{updated.className,jdbcType=VARCHAR},
      </if>
      <if test="updated.classDescription != null">
        class_description = #{updated.classDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where classification_id=#{classificationId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <select id="selectByClassDescriptionOrClassName" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from bookclassification
      where class_description like CONCAT('%', #{classDescription,jdbcType=VARCHAR}, '%')
         or class_name like CONCAT('%', #{className,jdbcType=VARCHAR}, '%')
  </select>


<!-- 分页查询语句-->
    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bookclassification
        limit #{start,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>


</mapper>