<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yam.mapper.BorrowrecordsMapper">
  <resultMap id="BaseResultMap" type="cn.yam.domain.Borrowrecords">
    <!--@mbg.generated-->
    <!--@Table borrowrecords-->
    <id column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="borrow_date" jdbcType="DATE" property="borrowDate" />
    <result column="return_date" jdbcType="DATE" property="returnDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    record_id, book_id, user_id, borrow_date, return_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from borrowrecords
    where record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from borrowrecords
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="record_id" keyProperty="recordId" parameterType="cn.yam.domain.Borrowrecords" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into borrowrecords (book_id, user_id, borrow_date, 
      return_date)
    values (#{bookId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{borrowDate,jdbcType=DATE}, 
      #{returnDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="record_id" keyProperty="recordId" parameterType="cn.yam.domain.Borrowrecords" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into borrowrecords
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="borrowDate != null">
        borrow_date,
      </if>
      <if test="returnDate != null">
        return_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowDate != null">
        #{borrowDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null">
        #{returnDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yam.domain.Borrowrecords">
    <!--@mbg.generated-->
    update borrowrecords
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="borrowDate != null">
        borrow_date = #{borrowDate,jdbcType=DATE},
      </if>
      <if test="returnDate != null">
        return_date = #{returnDate,jdbcType=DATE},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yam.domain.Borrowrecords">
    <!--@mbg.generated-->
    update borrowrecords
    set book_id = #{bookId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      borrow_date = #{borrowDate,jdbcType=DATE},
      return_date = #{returnDate,jdbcType=DATE}
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from borrowrecords
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectByReaderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from borrowrecords
    where reader_id=#{readerId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectByBookId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from borrowrecords
    where book_id=#{bookId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectByBorrowDateBetween" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from borrowrecords
    where borrow_date <![CDATA[>]]> #{minBorrowDate,jdbcType=DATE} and borrow_date <![CDATA[<]]>
    #{maxBorrowDate,jdbcType=DATE}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectAllByReturnDateBetween" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from borrowrecords
    where return_date <![CDATA[>]]> #{minReturnDate,jdbcType=DATE} and return_date <![CDATA[<]]>
    #{maxReturnDate,jdbcType=DATE}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-10-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from borrowrecords
    where user_id=#{userId,jdbcType=INTEGER}
  </select>





</mapper>