<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yam.mapper.LibraryMapper">
  <resultMap id="BaseResultMap" type="cn.yam.domain.Library">
    <!--@mbg.generated-->
    <!--@Table library-->
    <id column="library_id" jdbcType="INTEGER" property="libraryId" />
    <result column="library_name" jdbcType="VARCHAR" property="libraryName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    library_id, library_name, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from library
    where library_id = #{libraryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from library
    where library_id = #{libraryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="library_id" keyProperty="libraryId" parameterType="cn.yam.domain.Library" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into library (library_name, address)
    values (#{libraryName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="library_id" keyProperty="libraryId" parameterType="cn.yam.domain.Library" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="libraryName != null">
        library_name,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="libraryName != null">
        #{libraryName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yam.domain.Library">
    <!--@mbg.generated-->
    update library
    <set>
      <if test="libraryName != null">
        library_name = #{libraryName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where library_id = #{libraryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yam.domain.Library">
    <!--@mbg.generated-->
    update library
    set library_name = #{libraryName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where library_id = #{libraryId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from library
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <select id="selectLibraryNameByLibraryId" resultType="java.lang.String">
    select library_name
    from library
    where library_id=#{libraryId,jdbcType=INTEGER}
  </select>
</mapper>