<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yam.mapper.ReadersMapper">
  <resultMap id="BaseResultMap" type="cn.yam.domain.Readers">
    <!--@mbg.generated-->
    <!--@Table readers-->
    <id column="reader_id" jdbcType="INTEGER" property="readerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contact_info" jdbcType="VARCHAR" property="contactInfo" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    reader_id, `name`, contact_info, `password`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from readers
    where reader_id = #{readerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from readers
    where reader_id = #{readerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="reader_id" keyProperty="readerId" parameterType="cn.yam.domain.Readers" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into readers (`name`, contact_info, `password`
      )
    values (#{name,jdbcType=VARCHAR}, #{contactInfo,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="reader_id" keyProperty="readerId" parameterType="cn.yam.domain.Readers" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into readers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="contactInfo != null">
        contact_info,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null">
        #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yam.domain.Readers">
    <!--@mbg.generated-->
    update readers
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null">
        contact_info = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where reader_id = #{readerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yam.domain.Readers">
    <!--@mbg.generated-->
    update readers
    set `name` = #{name,jdbcType=VARCHAR},
      contact_info = #{contactInfo,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where reader_id = #{readerId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectByContactInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from readers
    where contact_info=#{contactInfo,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from readers
    where `name`=#{name,jdbcType=VARCHAR}
  </select>
</mapper>